html {
    font-size: 100%;
    box-sizing: border-box;
}
body {
    font-family: 'Verdana', sans-serif;
    color: #333;
    background: #000;
    background-image: url("../../static/images/redCurtain.jpg");
    margin: 0;
    padding-bottom: 0px;
}
#container {
    margin: 2em auto;
    max-width: 1000px;
    padding: 2rem 4rem;
    background: #dbdbdb;
    overflow: auto;
    border: 20px solid #000;
}
h1 {
    font-family: 'Georgia', serif;
    font-size: 3rem;
    margin: 0;
    padding: 0.5rem 0;
}
h1, p {
    color: #000;
}
p, li {
    font-size: 1.4rem;
    line-height: 1.5;
}
img {
    display: block;
    margin: auto;
    max-width: 75%;
}
.right {
    float: right;
    margin: 1.5rem 0 1rem 1rem;
    border: 7px solid #3d3d3d;
}
a {
    color: #e40000;
    text-decoration: none;
}
a:hover {
    color: #10caf9;
    text-decoration: underline;
}
li:a {
  color: #e6e6e6;
}
#links {
  border: 5px solid #3d3d3d;
  background-color: #000;
  padding-left: 10px;
}
p#links {
  color: #fff;
}
#photoCred:a {
  color: #10caf9;
}
.purple-background {
  background-color:#554884;
}
.white {
  color:#ffffff;
}

@media (max-width: 900px) {
    body {
        background: #fff;
    }
    #container {
        margin: 0;
        width: 100%;
        padding: 2rem;
    }
    h1 {
        padding: 0 0 0.3rem 0;
    }
    .right {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin: 0;
        max-width: 300px;
    }
}
