{% extends 'base.html' %}

{% block styles %}
{{ super() }}
	<style>
		body { background: #e8f1f9; }
	</style>
{% endblock %}

{% block content %}

<div id="container">

	<h1>Florida gentrification checker</h1>
</div>

<div id="container">

	<h2>This app lets users search zip codes located in certain metro areas in Florida and pulls up information on possible gentrification in that zip code.</h2>
</div>

<div id="container">

	<p>Type a zip code located in any the following metro areas:</p>
	<ul>
		{% for cityPair in cityPairs %}
			<li><a href="{{ url_for( 'city', name=pair[0] ) }}">{{ pair[1] }}</a></li>
		{% endfor %}
		<li>Ft. Lauderdale</li>
		<li>Jacksonville</li>
		<li>Miami</li>
		<li>Orlando</li>
		<li>Tampa</li>
		<li>West Palm Beach</li>
	</ul>


	<form method="post">
		<br>
	  <input type="text" name='zipCode' placeholder="Type a zip code" value="{{ request.form['zip'] }}"></input>
	  <button type="submit">Search</button>
	 </form>


  <ul>
  	{% for pair in pairs %}
    	<li><a href="{{ url_for( 'detail', num=pair[0] ) }}">{{ pair[1] }}</a></li>
  	{% endfor %}
  </ul>

	<p>Or click one of the cities above for a list of zip codes in that area.</p>

</div>

{% endblock %}
